<header>
  <div class="header-inner">
    <a href="{{ site.baseurl }}/" class="logo">JustCalcIt</a>
    <button class="hamburger" id="hamburgerBtn" aria-label="Open menu" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>
    <div class="header-right">
      <nav id="mainNav">
        <a href="{{ site.baseurl }}/">Calculators</a>
        <a href="{{ site.baseurl }}/blog/">Blog</a>
        <a href="{{ site.baseurl }}/about/">About</a>
      </nav>
      <div class="toggle-wrap">
        <span id="themeLabel">🌙</span>
        <button class="toggle" id="themeToggle" aria-label="Toggle theme"></button>
      </div>
    </div>
  </div>
</header>
